.learn-header {
    @include flexProperty(null, flex-start);
    @include media-breakpoint(md) {
        margin: 30px 0 0;
    }
    @include media-breakpoint(sm) {
        padding: 30px 0;
        text-align: right;
        .modal-btn {
            display: none;
        }
    }
    .learn-header-info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      @include media-breakpoint(sm) {
        justify-content: flex-end;
        align-items: flex-start;
      }
    }
    .mobile-menu-icon {
        width: 55px;
        height: 55px;
        @include flexProperty(center, center);
        border-radius: 100%;
        font-size: 14px;
        font-weight: bold;
        margin: 0 18px 0 0;
        &:hover {
            color: $theme-color;
        }
        background-color: $theme-light-background;
    }
    .learn-header-icon {
        width: 55px;
        height: 55px;
        @include flexProperty(center, center);
        border-radius: 100%;
        font-size: 14px;
        font-weight: bold;
        &:hover {
            color: $theme-color;
        }
        background-color: $theme-light-background;
        @include media-breakpoint(sm) {
            width: 48px;
            height: 48px;
            text-align: right;
            margin-top: -10px;
        }
    }
    .learn-header-content {
        width: 100%;
        @include media-breakpoint(xs) {
            max-width: 125px;
            margin-left: 0;
        }
        @include media-breakpoint(md) {
            max-width: 175px;
            margin-left: 16px;
        }
    }
    .learn-header-title {
        @include font-black;
        font-size: 18px;
        line-height: normal;
        @include media-breakpoint(md) {
            font-size: 20px;
            line-height: 26px;
        }
    }
    .learn-header-text {
        @include font-bold;
        font-size: 13px;
    }
    .brand-images {
      .brand-image {
        padding-right: 2.4em;
        float: left;
        padding-top: 1em;
      }
    }
}

.mobile-menu {
    display: none;
    @include media-breakpoint(sm) {
        display: block;
    }
}
.mobile-menu-close {
    margin: 16px 0 0 32px;
}